@media (max-width: 768px) {
  .accordion {
    margin-top: 0px;
  }
  .textoPortada {
    font-size: 13px;
    color: white;
    position: absolute;
    top: 15%;
  }
  .textoFuel {
    font-size: 13px;
    color: white;
    position: absolute;
    top: 19%;
  }
  .container {
    margin-top: 50px;
  }
  .textoBicicletas {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 45px;
  }
  .raza {
    background-color: black;
  }
  .razaFuel {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
  }
  .textoFuelExe {
    font-size: 12px;
    color: white;
    position: absolute;
    top: 110%;
  }
  .gap {
    margin-top: 50px;
  }
  .bosques {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 100px;
  }
  .ceroUno {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroUnoUno {
    color: white;
    text-align: start;
    font-size: 10px;
  }
  .ceroDos {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroDosDos {
    color: white;
    text-align: start;
    font-size: 10px;
  }
  .ceroTres {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroTresTres {
    color: white;
    text-align: start;
    font-size: 10px;
  }
}
@media (min-width: 1024px) {
  .accordion {
    margin-top: 50px;
  }
  .textoPortada {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 40%;
  }
  .textoFuel {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 50%;
  }
  .container {
    margin-top: 50px;
  }
  .textoBicicletas {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 45px;
  }
  .raza {
    background-color: black;
  }
  .razaFuel {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
  }
  .textoFuelExe {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 220%;
  }
  .gap {
    margin-top: 200px;
  }
  .bosques {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 200px;
  }
  .ceroUno {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroUnoUno {
    color: white;
    text-align: start;
  }
  .ceroDos {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroDosDos {
    color: white;
    text-align: start;
  }
  .ceroTres {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroTresTres {
    color: white;
    text-align: start;
  }
}
body {
  background-image: url(../img/1920x1080-Fondo-negro-de-cuero.jpg);
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar {
  background-color: #1a1a1a;
}

.imgNavbar {
  width: 180px;
}

.contenedorTextoIndex {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
}

.contenedorIndexBot {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 60px;
  margin-bottom: 50px;
}

.gapProducto {
  margin-top: 40px;
}

li {
  display: inline;
}

.mapaNosotros {
  text-align: center;
}

.ebike {
  color: whitesmoke;
  text-align: center;
  margin-top: 80px;
}

.tituloBosh {
  margin-top: 20px;
  color: whitesmoke;
}

.bosh {
  margin-bottom: 100px;
}

.listaFuelExe:hover {
  color: white;
  text-decoration: underline white;
}

.listaFuelExe {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

footer {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

.form {
  color: whitesmoke;
  padding-left: 20px;
  margin-top: 30px;
}

.logosRedes {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 20px;
  padding-left: 20px;
}

.imagenProducto {
  width: 60px;
  height: 60px;
}

.col {
  color: darkgray;
}

/*# sourceMappingURL=style.css.map */
