@media (max-width: 768px) {
  .accordion {
    margin-top: 0px;
  }
  .img-fluid {
    width: 100%;
  }
  .portada {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .textoPortada {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 15%;
    left: 2%;
  }
  .textoFuel {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 25%;
    left: 2%;
  }
  .textoBicicletas {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 45px;
  }
  .raza {
    background-color: black;
  }
  .razaFuel {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 50px;
    text-align: center;
  }
  .gap {
    margin-top: 50px;
  }
  .bosques {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 100px;
  }
  .imagenFuelexePortada {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .textoFuele {
    font-size: 17px;
    color: whitesmoke;
    position: absolute;
    top: 42%;
    left: 1%;
  }
  .ceroUno {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroUnoUno {
    color: white;
    text-align: start;
    font-size: 10px;
  }
  .ceroDos {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroDosDos {
    color: white;
    text-align: start;
    font-size: 10px;
  }
  .ceroTres {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroTresTres {
    color: white;
    text-align: start;
    font-size: 10px;
  }
  .portadaEcaliber {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .textoEcaliber {
    font-size: 15px;
    color: whitesmoke;
    position: absolute;
    left: 45%;
    top: 5%;
  }
  .textoPortadaEcaliber {
    font-size: 15px;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 22%;
  }
  .contenedorEcaliber {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-grid;
  }
  .columnaEcaliber {
    order: 2;
    margin-bottom: 100px;
  }
  .columnaTextoEcaliber {
    order: 1;
    margin-top: 50px;
  }
  .ecalChecker {
    width: 100%;
    height: auto;
  }
  .ecaliberGeometria {
    font-size: 30px;
    color: whitesmoke;
  }
  .ecaliberChecker {
    font-size: 15px;
    color: whitesmoke;
  }
  .contenedorBotEcaliber {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-grid;
  }
  .columnaBotEcaliber {
    margin-bottom: 20px;
  }
  .columnaImagenBotEcaliber {
    order: 1;
    margin-bottom: 20px;
    text-align: center;
  }
  .ecalBotChecker {
    width: 100%;
    height: auto;
  }
  .ecaliberBotGeometria {
    order: 1;
    color: whitesmoke;
    font-size: 20px;
  }
  .ecaliberBotChecker {
    color: whitesmoke;
    font-size: 15px;
  }
  .ligera {
    font-size: 16px;
    text-align: center;
    color: whitesmoke;
    margin-top: 15px;
  }
  .ecalLigera {
    margin-top: 15px;
  }
  .tituloEcaliber {
    font-size: 15px;
    margin-top: 5px;
    color: whitesmoke;
  }
  .subTituloEcaliber {
    font-size: 15px;
    color: whitesmoke;
  }
}
@media (min-width: 1024px) {
  .accordion {
    margin-top: 50px;
  }
  .img-fluid {
    width: 50%;
  }
  .portada {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .textoPortada {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 20%;
    left: 2%;
  }
  .textoFuel {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
  }
  .textoBicicletas {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 45px;
  }
  .raza {
    background-color: black;
  }
  .razaFuelExe {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
  }
  .razaFuel {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-top: 60px;
    margin-bottom: 200px;
    text-align: center;
  }
  .textoFuelExe {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 220%;
  }
  .bosques {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 200px;
  }
  .imagenFuelexePortada {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .textoFuele {
    font-size: 60px;
    color: whitesmoke;
    position: absolute;
    top: 42%;
    left: 5%;
  }
  .ceroUno {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroUnoUno {
    color: white;
    text-align: start;
    font-size: 13px;
  }
  .ceroDos {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroDosDos {
    color: white;
    text-align: start;
    font-size: 13px;
  }
  .ceroTres {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroTresTres {
    color: white;
    text-align: start;
    font-size: 13px;
  }
  .portadaEcaliber {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .textoEcaliber {
    font-size: 60px;
    color: whitesmoke;
    position: absolute;
    left: 48%;
    top: 10%;
  }
  .textoPortadaEcaliber {
    font-size: 60px;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 25%;
  }
  .gapEcaliber {
    margin-bottom: 100px;
  }
  .contenedorEcaliber {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .columnaEcaliber {
    width: 50%;
    text-align: center;
  }
  .columnaTextoEcaliber {
    width: 50%;
    text-align: center;
  }
  .ecalChecker {
    width: 100%;
    height: auto;
  }
  .ecaliberBotGeometria {
    order: 1;
    color: whitesmoke;
    font-size: 20px;
  }
  .ecaliberBotChecker {
    order: 1;
    color: whitesmoke;
    font-size: 15px;
  }
  .ecaliberGeometria {
    font-size: 30px;
    color: whitesmoke;
  }
  .ecaliberChecker {
    font-size: 15px;
    color: whitesmoke;
  }
  .contenedorBotEcaliber {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .columnaBotEcaliber {
    margin-bottom: 20px;
  }
  .columnaImagenBotEcaliber {
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
  }
  .ecalBotChecker {
    width: 100%;
    height: auto;
  }
  .ecaliberBotGeometria {
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
  }
  .ecaliberBotChecker {
    color: whitesmoke;
    font-size: 15px;
  }
  .ligera {
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
    margin-top: 25px;
  }
  .ecalLigera {
    margin-top: 20px;
  }
  .tituloEcaliber {
    font-size: 40px;
    margin-top: 15px;
    color: whitesmoke;
  }
  .subTituloEcaliber {
    font-size: 20px;
    color: whitesmoke;
  }
}
body {
  background-image: url(../img/1920x1080-Fondo-negro-de-cuero.jpg);
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar {
  background-color: #1a1a1a;
}

.imgNavbar {
  width: 180px;
}

.contenedorTextoIndex {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
}

.contenedorIndexBot {
  font-size: 20px;
  text-align: center;
  color: white;
}

.gapProducto {
  margin-top: 40px;
}

li {
  display: inline;
}

.btn {
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
}

.mapaNosotros {
  text-align: center;
}

.ebike {
  color: whitesmoke;
  text-align: center;
  margin-top: 80px;
}

.tituloBosh {
  margin-top: 20px;
  color: whitesmoke;
}

.bosh {
  margin-bottom: 100px;
}

.listaElectricas {
  text-align: center;
}

footer {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

.form {
  color: whitesmoke;
  padding-left: 20px;
  margin-top: 30px;
}

.logosRedes {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 20px;
  padding-left: 20px;
}

.imagenProducto {
  width: 60px;
  height: 60px;
}

.col {
  color: darkgray;
}

/*# sourceMappingURL=style.css.map */
