@media (min-width: 1024px) {
  .accordion {
    margin-top: 50px;
  }
  .img-fluid{
    width: 50%;
  }
  .portada{
    position: relative;
    display: inline-block;
    text-align: center;
}
  .textoPortada {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 20%;
    left: 2%;
  }
  .textoFuel {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
  }
.textoBicicletas {
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  font-size: 45px;
}
.raza {
  background-color: black;
}
.razaFuelExe {
  font-size: 25px;
  color: white;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}
.razaFuel {
  font-size: 25px;
  color: white;
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 200px;
  text-align: center;
}
.textoFuelExe{
  font-size: 50px;
  color: white;
  position: absolute;
  top: 220%;
}
.bosques {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 200px;
}
.imagenFuelexePortada{
  position: relative;
  display: inline-block;
  text-align: center;
}
.textoFuele{
  font-size: 60px;
  color:whitesmoke;
  position: absolute;
  top: 42%;
  left: 5%;
}
.ceroUno {
  color: whitesmoke;
  font-size: 30px;
  text-align: start;
}
.ceroUnoUno {
  color: white;
  text-align: start;
  font-size: 13px;
}
.ceroDos {
  color: whitesmoke;
  font-size: 30px;
  text-align: start;
}
.ceroDosDos {
  color: white;
  text-align: start;
  font-size: 13px;
}
.ceroTres {
  color: whitesmoke;
  font-size: 30px;
  text-align: start;
}
.ceroTresTres {
  color: white;
  text-align: start;
  font-size: 13px;
}
.portadaEcaliber{
  position: relative;
  display: inline-block;
  text-align: center;
}
.textoEcaliber{
  font-size: 60px;
  color: whitesmoke;
  position: absolute;
  left: 48%;
  top: 10%;
}
.textoPortadaEcaliber{
  font-size: 60px;
  color:whitesmoke;
  position: absolute;
  top: 50%;
  left: 25%;
}
.gapEcaliber{
  margin-bottom: 100px;
}
.contenedorEcaliber{
  display: flex;
  justify-content: center;
  align-items: center;
}
.columnaEcaliber{
  width: 50%;
  text-align: center;
}
.columnaTextoEcaliber{
  width: 50%;
  text-align: center;
}
.ecalChecker{
  width: 100%;
  height: auto;
}
.ecaliberBotGeometria{
  order:1;
  color: whitesmoke;
  font-size: 20px;
}
.ecaliberBotChecker{
  order: 1;
  color: whitesmoke;
  font-size: 15px;
}
.ecaliberGeometria{
  font-size: 30px;
  color: whitesmoke;
}
.ecaliberChecker{
  font-size: 15px;
  color: whitesmoke;
}
.contenedorBotEcaliber{
  display: flex;
  justify-content: center;
  align-items: center;
}
.columnaBotEcaliber{
  margin-bottom: 20px;
}
.columnaImagenBotEcaliber{
  margin-bottom: 20px;
  width: 80%;
  text-align: center;
}
.ecalBotChecker{
  width: 100%;
  height: auto;
}
.ecaliberBotGeometria{
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
}
.ecaliberBotChecker{
  color: whitesmoke;
  font-size: 15px;
}
.ligera{
  font-size: 50px;
  text-align: center;
  color: whitesmoke;
  margin-top: 25px;
}
.ecalLigera{
  margin-top: 20px;
}
.tituloEcaliber{
  font-size: 40px;
  margin-top: 15px;
  color: whitesmoke;
}
.subTituloEcaliber{
  font-size: 20px;
  color: whitesmoke;
}
.contenedorTres {
  display: flex;
  justify-content: start;
  margin-top: 80px;
}

.imgTres{
  margin: 10px;
  text-align: center;
}

.breeze {
  max-width: 100%;
  height: auto;
}
.river{
  max-width: 100%;
  height: auto;
}
.rocket{
  max-width: 100%;
  height: auto;
}
.texto {
  margin-top: 10px;
  font-weight: bold;
  color: whitesmoke;
  font-size: 30px;
}
.subtituloTexto{
  color: whitesmoke;
  font-size: 20px;
}
.modoAsistencia{
  margin-top: 120px;
  text-align: center;
  font-size: 40px;
  color: whitesmoke;
}
}