.ebike{
    color: whitesmoke;
    text-align: center;
    margin-top: 80px;
  }
  .tituloBosh{
    margin-top: 20px;
    color: whitesmoke
  }
  .bosh{
    margin-bottom: 100px;
  }
  .listaFuelExe:hover{
    color: white;
    text-decoration: underline white;
  }
.listaFuelExe{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
}