body {
    background-image: url(../img/1920x1080-Fondo-negro-de-cuero.jpg);
  }
  header{
      position: sticky;
      top: 0;
  }
  .navbar{
      background-color: #1a1a1a;
  }
  .imgNavbar {
    width: 180px;
  }