@media (max-width: 768px) {
  .accordion {
    margin-top: 0px;
  }
  .img-fluid{
    width: 100%;
  }
  .portada{
    position: relative;
    display: inline-block;
    text-align: center;
}
  .textoPortada {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 15%;
    left: 2%;
  }
  .textoFuel {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 25%;
    left: 2%;
  }
  .textoBicicletas {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 45px;
  }
  .raza {
    background-color: black;
  }
  .razaFuel {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 100%;
    padding-left: 50px;
  }
  .bosques {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 100px;
    max-width: 110%;
    padding-left: 10px;
  }
  .imagenFuelexePortada{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .textoFuele{
    font-size: 17px;
    color: whitesmoke;
    position: absolute;
    top: 42%;
    left: 1%;
  }
  .ceroUno {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroUnoUno {
    color: white;
    text-align: start;
    font-size: 10px;
  }
  .ceroDos {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroDosDos {
    color: white;
    text-align: start;
    font-size: 10px;
  }
  .ceroTres {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroTresTres {
    color: white;
    text-align: start;
    font-size: 10px;
  }
  .portadaEcaliber{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .textoEcaliber{
    font-size: 15px;
    color: whitesmoke;
    position: absolute;
    left: 45%;
    top: 5%;
  }
  .textoPortadaEcaliber{
    font-size: 15px;
    color:whitesmoke;
    position: absolute;
    top: 50%;
    left: 22%;
  }
  .contenedorEcaliber{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-grid;
  }
  .columnaEcaliber{
    order: 2;
    margin-bottom: 100px;
  }
  .columnaTextoEcaliber{
    order: 1;
    margin-top: 50px;
  }
  .ecalChecker{
    width: 100%;
    height: auto;
  }
  .ecaliberGeometria{
    font-size: 30px;
    color: whitesmoke;
  }
  .ecaliberChecker{
    font-size: 15px;
    color: whitesmoke;
  }
  .contenedorBotEcaliber{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-grid;
  }
  .columnaBotEcaliber{
    margin-bottom: 20px;
  }
  .columnaImagenBotEcaliber{
    order: 1;
    margin-bottom: 20px;
    text-align: center
  }
  .ecalBotChecker{
    width: 100%;
    height: auto;
  }
  .ecaliberBotGeometria{
    order:1;
    color: whitesmoke;
    font-size: 20px;
  }
  .ecaliberBotChecker{
    color: whitesmoke;
    font-size: 15px;
  }
  .ligera{
    font-size: 16px;
    text-align: center;
    color: whitesmoke;
    margin-top: 25px;
  }
  .ecalLigera{
    margin-top: 15px;
  }
  .tituloEcaliber{
    font-size: 15px;
    margin-top: 5px;
    color: whitesmoke;
  }
  .subTituloEcaliber{
    font-size: 15px;
    color: whitesmoke;
}
.modoAsistencia{
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  color: whitesmoke;
}
.contenedorTres {
  display: flex;
  justify-content: start;
  margin-top: 50px;
}

.imgTres{
  margin: 10px;
  text-align: center;
}

.breeze {
  max-width: 100%;
  height: auto;
}
.river{
  max-width: 110%;
  height: auto;
}
.rocket{
  max-width: 100%;
  height: auto;
}
.texto {
  margin-top: 10px;
  font-weight: bold;
  color: whitesmoke;
  font-size: 15px;
}
.subtituloTexto{
  color: whitesmoke;
  font-size: 12px;
}
.ecalSlim{
  margin-top: 30px;
  position: relative;
  display: inline-block;
  text-align: center;
}
.textoSenderos{
  font-size: 11px;
  color: whitesmoke;
  position: absolute;
  top: 30%;
}
.portadaEmonda{
  font-size: 15px;
  color: white;
  position: absolute;
  top: 40%;
  left: 11%;
}
.textoEmonda{
  font-size: 13px;
  color: white;
  position: absolute;
  top: 50%;
  left: 13%;
  
}
.emondaLigera{
  color: whitesmoke;
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emondaCeleste{
  font-size: 15px;
  color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emondaRapidaTexto{
  color: whitesmoke;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emondaSlr{
  color: whitesmoke;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.sesenta{
  width: 110%;
}
.sesentaTexto{
  font-size: 15px;
  color: whitesmoke;
  padding-left: 10px;
}
.ocho{
  width: 110%;
}
.viento{
  width: 110%;
}
.emondaEscaladoraTexto{
  font-size: 30px;
  color:whitesmoke ;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emondaRendimiento{
  font-size: 30px;
  color: whitesmoke;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emondaGeneracionTexto{
  font-size: 15px;
  color: whitesmoke;
  margin-bottom: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lizzi{
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative; 
}

.textoLizzi {
  position: absolute; 
  color: whitesmoke;
  text-align: center; 
  left: 20%;
}
.hLizzi {
  font-size: 11px;
}
.plizzi {
  font-size: 10px;
}
}
