@media (max-width: 768px) {
  .textoIndex{
    margin-top: 50px;
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .textoIndexTrek{
    color: whitesmoke;
    font-size: 15px;
    margin-bottom: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .formulario{
    width: 380px;
}
  .img-fluid{
    width: 100%;
  }
  .textoRuta{
    color: whitesmoke;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .subtextoRuta{
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .portada{
    position: relative;
    display: inline-block;
    text-align: center;
}
  .textoPortada {
    font-size: 15px;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: absolute;
    top: 15%;
    left: 2%;
  }
  .textoFuel {
    font-size: 15px;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: absolute;
    top: 25%;
    left: 2%;
  }
  .textoBicicletas {
    text-align: center;
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    font-size: 45px;
  }
  .raza {
    background-color: black;
  }
  .razaFuel {
    font-size: 20px;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .bosques {
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
  }
  .imagenFuelexePortada{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .textoFuele{
    font-size: 17px;
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: absolute;
    top: 42%;
    left: 1%;
  }
  .fuelTrial{
    font-size: 18px;
    margin-top: 20px;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .fuelArrasa{
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .ceroUno {
    color: whitesmoke;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: start;
  }
  .ceroUnoUno {
    color: white;
    text-align: start;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 10px;
  }
  .ceroDos {
    color: whitesmoke;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: start;
  }
  .ceroDosDos {
    color: white;
    text-align: start;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 10px;
  }
  .ceroTres {
    color: whitesmoke;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: start;
  }
  .ceroTresTres {
    color: white;
    text-align: start;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 10px;
  }
  .portadaEcaliber{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .textoEcaliber{
    font-size: 15px;
    color: whitesmoke;
    position: absolute;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    left: 45%;
    top: 5%;
  }
  .textoPortadaEcaliber{
    font-size: 15px;
    color:whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 22%;
  }
  .contenedorEcaliber{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-grid;
  }
  .columnaEcaliber{
    order: 2;
    margin-bottom: 100px;
  }
  .columnaTextoEcaliber{
    order: 1;
    margin-top: 50px;
  }
  .ecalChecker{
    width: 100%;
    height: auto;
  }
  .ecaliberGeometria{
    font-size: 30px;
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .ecaliberChecker{
    font-size: 15px;
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .contenedorBotEcaliber{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-grid;
  }
  .columnaBotEcaliber{
    margin-bottom: 20px;
  }
  .columnaImagenBotEcaliber{
    order: 1;
    margin-bottom: 20px;
    text-align: center
  }
  .ecalBotChecker{
    width: 100%;
    height: auto;
  }
  .ecaliberBotGeometria{
    order:1;
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
  }
  .ecaliberBotChecker{
    color: whitesmoke;
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .ligera{
    font-size: 16px;
    text-align: center;
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 25px;
  }
  .ecalLigera{
    margin-top: 15px;
  }
  .tituloEcaliber{
    font-size: 15px;
    margin-top: 5px;
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .subTituloEcaliber{
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: whitesmoke;
}
.modoAsistencia{
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.breeze {
  max-width: 100%;
  height: auto;
}
.river{
  max-width: 110%;
  height: auto;
}
.rocket{
  max-width: 100%;
  height: auto;
}
.texto {
  margin-top: 10px;
  font-weight: bold;
  color: whitesmoke;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.subtituloTexto{
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
}
.ecalSlim{
  margin-top: 30px;
  position: relative;
  display: inline-block;
  text-align: center;
}
.textoSenderos{
  font-size: 11px;
  color: whitesmoke;
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  top: 30%;
}
.portadaEmonda{
  font-size: 15px;
  color: white;
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  top: 40%;
  left: 11%;
}
.textoEmonda{
  font-size: 13px;
  color: white;
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  top: 50%;
  left: 13%;
  
}
.emondaLigera{
  color: whitesmoke;
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emondaCeleste{
  font-size: 15px;
  color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emondaRapidaTexto{
  color: whitesmoke;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emondaSlr{
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.sesenta{
  width: 110%;
}
.sesentaTexto{
  font-size: 15px;
  color: whitesmoke;
  padding-left: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.ocho{
  width: 110%;
}
.viento{
  width: 110%;
}
.emondaEscaladoraTexto{
  font-size: 30px;
  color:whitesmoke ;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emondaRendimiento{
  font-size: 30px;
  color: whitesmoke;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emondaGeneracionTexto{
  font-size: 15px;
  color: whitesmoke;
  margin-bottom: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lizzi{
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative; 
}

.textoLizzi {
  position: absolute; 
  color: whitesmoke;
  text-align: center; 
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  left: 20%;
}
.hLizzi {
  font-size: 11px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.plizzi {
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.containerCrockett {
  position: relative;
  display: inline-block;
}

.textoContainer {
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.crockettCiclocross{
  color: whitesmoke;
  font-size: 35px;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.crockettCompañera{
  color: whitesmoke;
  font-size: 15px;
  margin-bottom: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.contenedorCrockett{
display: flex;
justify-content: center;
align-items: center;
}
.contenedorCrockett2{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-grid;
}

.cuadroCrockett {
font-size: 30px;
color: whitesmoke;
font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
text-align: center;
}
.hombroCrockett {
font-size: 15px;
color: whitesmoke;
font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
text-align: center;
}
.containerRail {
  position: relative;
  display: inline-block;
}

.textoRail{
  position: absolute;
  top: 42%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.textoRailH{
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.colorBack{
  background-color:#84afd0;
}
.containerRail{
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.containerInteligente{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}
.colorAsis{
  background-color:  #1c1c1c ;
}
.imgChicas{
  width: 100%;
}
.textosChicosRail{
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtextosChicosRail{
  color: whitesmoke;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.textoRendir{
  margin-top: 100px;
  margin-bottom: 20px;
  color: whitesmoke;
  font-size: 18px;
  text-align: start;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtextoRendi{
  color: white;
  font-size: 13px;
  text-align: start;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.textoPotencia{
  color: whitesmoke;
  font-size: 16px;
  text-align: center;
  margin-top: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.textoEncuentra{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.powerflyPortada{
  position: absolute;
  top: 42%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.powerflyPortadaSub{
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 9px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.powerflyAventuras{
  margin-top: 50px;
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.powerflyConquista{
  margin-top: 20px;
  color: whitesmoke;
  text-align: center;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.powerflyMando{
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.powerflyPedales{
  color: whitesmoke;
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.powerflyEncuentra{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.madoneSeptima{
  margin-top: 100px;
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.textosChicosMadone{
  font-size: 9px;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtextosChicosMadone{
  font-size: 8px;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.azul{
 background-color:  #467bad ;
 margin-top: -67px;
}
.encontraMadone{
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.speedPortada{
  position: absolute;
  top: 42%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.speedSubPortada{
  position: absolute;
  top: 52%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.speedRapida{
  margin-top: 100px;
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.speedConcept{
  margin-top: 20px;
  color: whitesmoke;
  text-align: center;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.speedGap{
  margin-top: 100px;
}
.textosChicosSpeed{
  color: whitesmoke;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtextoSpeed{
  font-size: 10px;
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.speedTriunfar {
  font-size: 15px;
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.speedVanDijk{
  font-size: 15px;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}
