@media (max-width: 768px) {
  .accordion {
    margin-top: 0px;
  }
  .portada{
    position: relative;
    display: inline-block;
    text-align: center;
}
  .textoPortada {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 15%;
  }
  .textoFuel {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 25%;
  }
  .textoBicicletas {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 45px;
  }
  .raza {
    background-color: black;
  }
  .razaFuel {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 50px;
    text-align: center;
  }
  .gap {
    margin-top: 50px;
  }
  .bosques {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 100px;
  }
  .imagenFuelexePortada{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .textoFuele{
    font-size: 12px;
    color: black;
    position: absolute;
    top: 2%;
    left: 30%;
  }
  .ceroUno {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroUnoUno {
    color: white;
    text-align: start;
    font-size: 10px;
  }
  .ceroDos {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroDosDos {
    color: white;
    text-align: start;
    font-size: 10px;
  }
  .ceroTres {
    color: whitesmoke;
    font-size: 30px;
    text-align: start;
  }
  .ceroTresTres {
    color: white;
    text-align: start;
    font-size: 10px;
  }
}
