.contenedorTextoIndex {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .contenedorIndexBot {
      font-size: 20px;
      text-align: center;
      color: white;
      margin-top: 60px;
      margin-bottom: 50px;
    }
.img-fluid{
    width: 1000px;
    text-align: center;
  }