.contenedorTextoIndex {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
  }
.contenedorIndexBot {
    font-size: 20px;
    text-align: center;
    color: white;
  }
.gapProducto {
  margin-top: 40px;
  }
  li{
    display: inline;
  }
  .btn{
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
  }